<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id = "menu_library_root"
                  name = "Library"
                  sequence = "0"/>

        <menuitem id = "menu_author_name_master"
                  name = "Admin"
                  parent = "menu_library_root"
                  sequence = "2"/>

        <menuitem id = "menu_member_master"
                  name = "borrower"
                  parent = "menu_library_root"
                  sequence = "4"/>


    </data>
</odoo>
